<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tran Pool Draft</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <div class="nav_bar">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Teams</a></li>
            <li><a href="roster.html">Roster</a></li>
            <li><a href="draft.html">Draft</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="draft_menu">
            <form>
                <fieldset>
                    <legend>Draft PLayer:</legend>
                        <table>
                            <tr>
                                <td>Name:</td>
                                <td><input type="text"></td>
                            </tr>
                            <tr>
                                <td>Position:</td>
                                <td>
                                    <select name="Position">
                                        <option value="lw">LW</option>
                                        <option value="center">C</option>
                                        <option value="rw">RW</option>
                                        <option value="defense">D</option>
                                        <option value="goalie">G</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="submit"></td>
                            </tr>
                        </table>
                </fieldset>
            </form>

        </div>

    </div>
</body>
</html>