<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tran Pool Roster</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <div class="nav_bar">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Teams</a></li>
            <li><a href="roster.html">Roster</a></li>
            <li><a href="draft.html">Draft</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <div class="content">

    </div>

</body>
</html>